<div class="container">
  <div class="panel-heading text-center">
    <h2>{{ 'menuList.title' | translate }}</h2>
  </div>
  <div class="panel-body table-responsive">
    <table class="table table-bordered">
      <thead class="thead-light">
        <tr>
          <th>{{ 'menuList.menuName' | translate }}</th>
          <th>{{ 'menuList.description' | translate }}</th>
          <th>{{ 'menuList.price' | translate }}</th>
          <th>{{ 'menuList.validFrom' | translate }}</th>
          <th>{{ 'menuList.validTo' | translate }}</th>
          <th>{{ 'menuList.deliveryPrice' | translate }}</th>
          <th>{{ 'menuList.avgDeliTime' | translate }}</th>
          <th>{{ 'menuList.actions' | translate }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let menu of menus | async">
          <td>{{menu.menuName}}</td>
          <td>{{menu.description}}</td>
          <td>{{menu.price}}</td>
          <td>{{menu.validFromDate}}</td>
          <td>{{menu.validToDate}}</td>
          <td>{{menu.deliveryPrice}}</td>
          <td>{{menu.avgDeliveryTime}}</td>
          <td><button (click)="deleteMenu(menu.id)" class="btn btn-danger btn-sm">{{'menuList.delete' | translate}}</button>
            <button (click)="updateMenu(menu.id)" class="btn btn-info btn-sm">{{'menuList.update' | translate}}</button>
            <button (click)="menuDetails(menu.id)" class="btn btn-info btn-sm">{{'menuList.details' | translate}}</button>
          </td>
        </tr>
      </tbody>
    </table>
    <h2>
      <ngb-rating [(rate)]="currentRate"></ngb-rating>
      <button (click)="sendRate(currentRate)" class="btn btn-info">{{'menuList.sendRate' | translate}}</button>
      <hr>
      <pre>{{'menuList.rate' | translate}}<b>{{currentRate}}</b></pre>
    </h2>
  </div>
</div>