<div class="panel panel-primary">
    <div class="panel-heading">
      <h2>Menu List</h2>
    </div>
    <div class="panel-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Menu Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Valid from date</th>
            <th>Valid to date</th>
            <th>Delivery Price</th>
            <th>Avg delivery time</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let menu of menus | async">
            <td>{{menu.menuName}}</td>
            <td>{{menu.description}}</td>
            <td>{{menu.price}}</td>
            <td>{{menu.validFromDate}}</td>
            <td>{{menu.validToDate}}</td>
            <td>{{menu.deliveryPrice}}</td>
            <td>{{menu.avgDeliveryTime}}</td>
            <td><button (click)="deleteMenu(menu.id)" class="btn btn-danger">Delete</button>
                <button (click)="updateMenu(menu.id)" class="btn btn-info" style="margin-left: 10px">Update</button>
                <button (click)="menuDetails(menu.id)" class="btn btn-info" style="margin-left: 10px">Details</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>