<div class="displayTable">
    <div class="displayTableCell">
        <div class="authBlock">
            <h3>Sign In</h3>
            <!-- Calling GoogleAuth Api from AuthService -->
            <div class="formGroup">
                <button type="button" class="btn googleBtn" (click)="authService.GoogleAuth()">
                    <i class="fab fa-google-plus-g"></i>
                    Log in with Google
                </button>
            </div>
        </div>

        <div class="redirectToLogin">
            <span>Don't have an account?<span class="redirect" routerLink="/register-user"> Sign Up</span></span>
        </div>

    </div>
</div>