<div class="displayTable">
    <div class="displayTableCell">
        <div class="authBlock">
            <h3>{{'auth.signIn' | translate}}</h3>
            <!-- Calling GoogleAuth Api from AuthService -->
            <div class="formGroup">
                <button type="button" class="btn btn-google" (click)="authService.GoogleAuth()">
                    <span class="fab fa-google-plus-g"></span>
                    {{'auth.logWith' | translate}}
                </button>
            </div>
        </div>
        <div class="redirectToLogin">
            <span>{{'auth.noAccount' | translate}}</span>
            <br>
            <button type="button" class="btn btn-secondary"
                routerLink="/register-user">{{'auth.signUp' | translate}}</button>
        </div>
    </div>
</div>