<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>{{'accountList.title' | translate}}</h2>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>{{'accountList.username' | translate}}</th>
          <th>{{'accountList.name' | translate}}</th>
          <th>{{'accountList.surname' | translate}}</th>
          <th>{{'accountList.email' | translate}}</th>
          <th>{{'accountList.actions' | translate}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let account of accounts | async">
          <td>{{account.userName}}</td>
          <td>{{account.name}}</td>
          <td>{{account.surname}}</td>
          <td>{{account.eMail}}</td>
          <td><button (click)="deleteAccount(account.id)" class="btn btn-danger">Delete</button>
              <button (click)="updateAccount(account.id)" class="btn btn-info" style="margin-left: 10px">Update</button>
              <button (click)="accountDetails(account.id)" class="btn btn-info" style="margin-left: 10px">Details</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>