<div class="container">
  <div class= "table-dark panel-heading text-center">
    <h2>{{'accountList.title' | translate}}</h2>
   <div class="panel-body ">
    <table class="table table-dark text-center">
      <thead>
        <tr>
          <th scope="col" (click)="setOrder('userName')"> {{'accountList.username' | translate}}</th>
          <th scope="col" (click)="setOrder('name')">{{'accountList.name' | translate}}</th>
          <th scope="col" (click)="setOrder('surname')">{{'accountList.surname' | translate}}</th>
          <th scope="col" (click)="setOrder('email')">{{'accountList.email' | translate}}</th>
          <th scope="col" >{{'accountList.actions' | translate}}</th>
          <th scope="col"><i class="fas fa-sort" (click)="sort()"></i></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let account of accounts">
          <td>{{account.userName}}</td>
          <td>{{account.name}}</td>
          <td>{{account.surname}}</td>
          <td>{{account.email}}</td>
          <td><button (click)="deleteAccount(account.id)" class="btn btn-danger">{{'accountList.delete' | translate}}</button>
              <button (click)="updateAccount(account.id)" class="btn btn-info" style="margin-left: 10px">{{'accountList.update' | translate}}</button>
              <button (click)="accountDetails(account.id)" class="btn btn-info" style="margin-left: 10px">{{'accountList.details' | translate}}</button>
          </td>
        </tr>
        <tr>
        <td><i class="fas fa-angle-double-left fa-2x" (click)="rewind()"></i></td>
        <td colspan="2">
          <span *ngFor="let p of totalPages; let i = index">
            <a style="cursor: pointer;" (click)="setPage(i)"
            [ngClass]="{'text-primary': i === page }">{{ i+1 }}&nbsp;&nbsp;&nbsp;</a>
          </span>
        </td>
        <td><i class="fas fa-angle-double-right fa-2x" (click)="forward()"></i></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
</div>