<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <a class="navbar-brand" href="#">{{'home.title' | translate }} </a>
  <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
  <!-- Links -->
  <ul class="navbar-nav">
    <div *ngIf="authService.isLoggedIn">
      <li class="nav-item">
        <a routerLink="accounts" class="nav-link" routerLinkActive="active">{{'accountList.title' | translate }}</a>
      </li>
    </div>
    <div *ngIf="authService.isLoggedIn">
      <li class="nav-item">
        <a routerLink="add" class="nav-link" routerLinkActive="active">{{'addAccount.title' | translate }}</a>
      </li>
    </div>
    <div *ngIf="authService.isLoggedIn">
      <li class="nav-item">
        <a routerLink="menus" class="nav-link" routerLinkActive="active">{{'menuList.title' | translate }}</a>
      </li>
    </div>
    <div *ngIf="authService.isLoggedIn">
      <li class="nav-item">
        <a routerLink="addMenu" class="nav-link" routerLinkActive="active">{{'createMenu.title' | translate}}</a>
      </li>
    </div>
    <div *ngIf="authService.isLoggedIn">
      <li class="nav-item">
        <a class="nav-link" (click)="authService.SignOut()">
          <i class="fas fa-sign-out-alt"></i>Log out
        </a>
      </li>
    </div>
  </ul>

  <button type="button" class="btn btn-light ml-auto" (click)="useLanguage('en')">EN</button>
  <button type="button" class="btn btn-secondary" (click)="useLanguage('es')">ES</button>

  <div *ngIf="authService.isLoggedIn && authService.userData as user">
    <form class="form-inline ml-auto" action="/action_page.php">
      <input class="form-control mr-sm-2" type="text" disabled placeholder="{{user.displayName}}">
      <img class="form-control mr-5 img-thumbnail rounded-circle"
        src="{{(user.photoURL) ? user.photoURL : '/assets/dummy-user.png'}}" alt="{{user.displayName}}">
    </form>
  </div>
</nav>

<div class="container">
  <br>
  <h2 style="text-align: center;">{{'home.title' | translate }}</h2>
  <hr>
  <h3 style="text-align: center;">{{'home.text' | translate }}</h3>
  <br>
  <div class="card">
    <div class="card-body">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>


<footer class="footer">
  <div class="container">
    <span>Prueba CRUD footer</span>
  </div>
</footer>