<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <button (click)="useLanguage('en')">EN</button>
  <button (click)="useLanguage('es')">ES</button>
  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
        <a routerLink="accounts" class="nav-link" routerLinkActive="active">{{'accountList.title' | translate }}</a>
    </li>
    <li class="nav-item">
        <a routerLink="add" class="nav-link" routerLinkActive="active">{{'addAccount.title' | translate }}</a>
    </li>
    <li class="nav-item">
        <a routerLink="menus" class="nav-link" routerLinkActive="active">{{'menuList.title' | translate }}</a>
    </li>
    <li class="nav-item">
        <a routerLink="addMenu" class="nav-link" routerLinkActive="active">Add Menu</a>
    </li>
  </ul>
</nav>


<div class="container">
  <br>
  <h2 style="text-align: center;">{{'home.title' | translate }}</h2>
  <hr>
  <h3 style="text-align: center;">{{'home.text' | translate }}</h3>
  <br>
  <div class="card">
    <div class="card-body">
  <router-outlet></router-outlet>
    </div>
  </div>
</div>

<footer class="footer">
  <div class="container">
      <span>Prueba CRUD footer</span>
  </div>
</footer>