<h2>{{'menuDetails.title' | translate}}</h2>

<hr />
<div *ngIf="menu">
  <div>
    <label><b>{{'menuDetails.menuName' | translate}}</b></label> {{menu.menuName}}
  </div>
  <div>
    <label><b>{{'menuDetails.description' | translate}}</b></label> {{menu.description}}
  </div>
  <div>
    <label><b>{{'menuDetails.price' | translate}}</b></label> {{menu.price}}
  </div>
  <div>
    <label><b>{{'menuDetails.validFromDate' | translate}}</b></label> {{menu.validFromDate}}
  </div>
  <div>
    <label><b>{{'menuDetails.validToDate' | translate}}</b></label> {{menu.validToDate}}
  </div>
  <div>
    <label><b>{{'menuDetails.deliveryPrice' | translate}}</b></label> {{menu.deliveryPrice}}
  </div>
  <div>
    <label><b>{{'menuDetails.avgDeliTime' | translate}}</b></label> {{menu.avgDeliveryTime}}
  </div>
</div>

<br>
<br>
<button (click)="list()" class="btn btn-primary">{{'menuDetails.back' | translate}}</button><br>