<h2>{{'accountDetail.title' | translate}}</h2>

<hr />
<div *ngIf="account">
  <div>
    <label><b>{{'accountDetail.username' | translate}}</b></label> {{account.userName}}
  </div>
  <div>
    <label><b>{{'accountDetail.name' | translate}}</b></label> {{account.name}}
  </div>
  <div>
    <label><b>{{'accountDetail.surname' | translate}}</b></label> {{account.surname}}
  </div>
  <div>
    <label><b>{{'accountDetail.email' | translate}}</b></label> {{account.email}}
  </div>
  <div>
    <label><b>{{'accountDetail.phone' | translate}}</b></label> {{account.phone}}
  </div>
  <div>
    <label><b>{{'accountDetail.location' | translate}}</b></label> {{account.location}}
  </div>
  <div>
    <label><b>{{'accountDetail.direction' | translate}}</b></label> {{account.direction}}
  </div>
</div>

<br>
<br>
<button (click)="list()" class="btn btn-primary">{{'accountDetail.back' | translate}}</button><br>