<h3>{{'updateAccount.title' | translate}}</h3>
<div [hidden]="submitted" style="width: 400px;">
  <form (ngSubmit)="onSubmit()">

    <div class="form-group">
      <label for="name">{{'updateAccount.email' | translate}}</label>
      <input type="text" class="form-control" id="emailId" required [(ngModel)]="account.email" name="eMail">
    </div>

    <div class="form-group">
      <label for="name">{{'updateAccount.name' | translate}}</label>
      <input type="text" class="form-control" id="nameId" required [(ngModel)]="account.name" name="name">
    </div>

    <div class="form-group">
      <label for="name">{{'updateAccount.surname' | translate}}</label>
      <input type="text" class="form-control" id="surnameId" required [(ngModel)]="account.surname" name="surname">
    </div>

    <div class="form-group">
      <label for="name">{{'updateAccount.phone' | translate}}</label>
      <input type="text" class="form-control" id="phoneId" required [(ngModel)]="account.phone" name="phone">
    </div>

    <div class="form-group">
      <label for="name">{{'updateAccount.location' | translate}}</label>
      <input type="text" class="form-control" id="locationId" required [(ngModel)]="account.location" name="location">
    </div>

    <div class="form-group">
      <label for="name">{{'updateAccount.direction' | translate}}</label>
      <input type="text" class="form-control" id="directionId" required [(ngModel)]="account.direction"
        name="direction">
    </div>
    <br>
    <div class="row">
      <div class="col-md-6">
        <button type="submit" class="btn btn-success">{{'updateAccount.submitButton' | translate}}</button>
      </div>
      <div class="col-md-6">
        <button (click)="accountList()" class="btn btn-secondary">{{'updateAccount.cancel' | translate}}</button><br>
      </div>
    </div>
  </form>
</div>