<h3>Update Account</h3>
<div [hidden]="submitted" style="width: 400px;">
  <form (ngSubmit)="onSubmit()">

    <div class="form-group">
      <label for="name">Email</label>
      <input type="text" class="form-control" id="emailId" required [(ngModel)]="account.email" name="eMail">
    </div>

    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="nameId" required [(ngModel)]="account.name" name="name">
    </div>

    <div class="form-group">
      <label for="name">Surname</label>
      <input type="text" class="form-control" id="surnameId" required [(ngModel)]="account.surname" name="surname">
    </div>

    <div class="form-group">
      <label for="name">Phone</label>
      <input type="text" class="form-control" id="phoneId" required [(ngModel)]="account.phone" name="phone">
    </div>

    <div class="form-group">
      <label for="name">Location</label>
      <input type="text" class="form-control" id="locationId" required [(ngModel)]="account.location" name="location">
    </div>

    <div class="form-group">
      <label for="name">Direction</label>
      <input type="text" class="form-control" id="directionId" required [(ngModel)]="account.direction"
        name="direction">
    </div>
  </form>
  <br>
  <div class="row">
    <div class="col-md-6">
      <button type="submit" class="btn btn-success">Submit</button>
    </div>
    <div class="col-md-6">
      <button (click)="accountList()" class="btn btn-secondary">Cancel</button><br>
    </div>
  </div>
</div>