<h3>{{'addAccount.subtitle' | translate}}</h3>
<div [hidden]="submitted" style="width: 400px;">
  <form (ngSubmit)="onSubmit()">

    <div class="form-group">
      <label for="name">{{'addAccount.Id' | translate}}</label>
      <input type="int" class="form-control" id="pruebaId" required [(ngModel)]="account.id" name="id">
    </div>


    <div class="form-group">
      <label for="name">{{'addAccount.username' | translate }}</label>
      <input type="text" class="form-control" id="userNameId" required [(ngModel)]="account.userName" name="userName">
    </div>

    <div class="form-group">
      <label for="name">{{'addAccount.email' | translate }}</label>
      <input type="text" class="form-control" id="emailId" required [(ngModel)]="account.email" name="eMail">
    </div>

    <div class="form-group">
      <label for="name">{{'addAccount.name' | translate }}</label>
      <input type="text" class="form-control" id="nameId" required [(ngModel)]="account.name" name="name">
    </div>

    <div class="form-group">
      <label for="name">{{'addAccount.surname' | translate }}</label>
      <input type="text" class="form-control" id="surnameId" required [(ngModel)]="account.surname" name="surname">
    </div>

    <div class="form-group">
      <label for="name">{{'addAccount.phone' | translate }}</label>
      <input type="text" class="form-control" id="phoneId" required [(ngModel)]="account.phone" name="phone">
    </div>

    <div class="form-group">
      <label for="name">{{'addAccount.location' | translate }}</label>
      <input type="text" class="form-control" id="locationId" required [(ngModel)]="account.location" name="location">
    </div>

    <div class="form-group">
      <label for="name">{{'addAccount.direction' | translate }}</label>
      <input type="text" class="form-control" id="directionId" required [(ngModel)]="account.direction"
        name="direction">
    </div>

    <br>
    <div class="row">
      <div class="col-md-6">
        <button type="submit" class="btn btn-success">{{'addAccount.submitButton' | translate }}</button>
      </div>
      <div class="col-md-6">
        <button (click)="accountList()" class="btn btn-secondary">{{'addAccount.cancel' | translate}}</button><br>
      </div>
    </div>
  </form>
</div>

<div [hidden]="!submitted">

  <h4>{{'addAccount.submitOk' | translate }}</h4>
  <!-- <button class="btn btn-success" (click)="newEmployee()">Add</button> -->
</div>