<h3>Create Menu</h3>
<div [hidden]="submitted">
  <form (ngSubmit)="onSubmit()">

    <div class="form-group">
      <div class="row">
        <div class="col-md-6">
          <label for="name">Menu Name</label>
          <input type="text" class="form-control" id="menuNameId" required [(ngModel)]="menu.menuName"
            name="impMenuName">
        </div>

        <div class="col-md-6">
          <label for="name">Description</label>
          <textarea class="form-control" placeholder="Enter a description" [(ngModel)]="menu.description"
            [maxlength]="maxChars"></textarea>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="row">
        <div class="col-md-6">
          <label for="name">Price</label>
          <input type='number' step='0.01' min="0" value='0.00' placeholder='0.00' class="form-control" id="priceId"
            required [(ngModel)]="menu.price" name="impPrice">
        </div>

        <div class="col-md-6">
            <label for="name">Has Delivery</label>
            <input type="checkbox" name="chkHasDelivery" [(ngModel)]="deliveryInfo.hasDelivery">
            <!-- <input type="text" class="form-control" id="menuNameId" required [(ngModel)]="deliveryInfo.hasDelivery"
              disabled="true" name="imphasDelivery"> -->
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="row">
        <div class="col-md-6">
          <label for="name">Delivery Price</label>
          <input type="number" step=".01" min="0" value='0.00' placeholder='0.00' class="form-control"
            id="deliveryPriceId" required [(ngModel)]="menu.deliveryPrice" name="impDeliveryPrice">
        </div>

        <div class="col-md-6">
          <label for="name">Average Delivery Time</label>
          <input type="text" class="form-control" id="avgDeliveryTimeId" required [(ngModel)]="menu.avgDeliveryTime"
            name="impAvgDeliveryTime">
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="name">Categories</label>
      <ng-multiselect-dropdown [placeholder]="'Select Category'" [data]="ddlCategories" [(ngModel)]="selectedItems"
        [settings]="dropdownSettings" (onSelect)="onItemSelect($event)" (onDeSelect)="onItemDeSelect($event)">
      </ng-multiselect-dropdown>
    </div>

    <div class="form-group">
      <label for="name">Shifts Available</label>
      <input type="text" class="form-control" id="menuNameId" required [(ngModel)]="deliveryInfo.shiftsAvailable"
        name="impshiftsAvailable">
    </div>

    <div class="form-group">
      <label for="name">Hours Attention</label>
      <input type="text" class="form-control" id="menuNameId" required [(ngModel)]="deliveryInfo.hoursAttention"
        name="imphoursAttention">
    </div>

    <div class="form-group">
      <div class="row">
        <div class="col-md-6">
          <label for="validFromDate"> Valid From Date </label>
          <input id="validFromDateId" name="impValidFromDate" required [(ngModel)]="menu.validFromDate" type="date"
            bsDatepicker class="form-control">
        </div>

        <div class="col-md-6">
          <label for="validToDate"> Valid To Date </label>
          <input id="validToDateId" name="impValidToDate" required [(ngModel)]="menu.validToDate" type="date"
            class="form-control">
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="name">Maximun sales per day</label>
      <input type="number" class="form-control" id="maxSalesId" required [(ngModel)]="menu.maximunSales"
        name="impMaxSales">
    </div>
  </form>
  <br>
  <div class="row">
    <div class="col-md-6">
      <button type="submit" class="btn btn-success">Submit</button>
    </div>
    <div class="col-md-6">
      <button (click)="menuList()" class="btn btn-secondary">Cancel</button><br>
    </div>
  </div>
</div>

<div [hidden]="!submitted">
  <h4>You submitted successfully!</h4>
</div>