<h3>{{'createMenu.title' | translate}}</h3>
<div [hidden]="submitted">
  <form (ngSubmit)="onSubmit()">

    <div class="form-group">
      <label for="name">Id</label>
      <input type="int" class="form-control" id="pruebaId" required [(ngModel)]="menuDTO.id" name="id">
    </div>

    <div class="form-group">
      <div class="row">
        <div class="col-md-6">
          <label for="name">{{'createMenu.menuName' | translate}}</label>
          <input type="text" class="form-control" id="menuNameId" required [(ngModel)]="menuDTO.menuName"
            name="impMenuName">
        </div>

        <div class="col-md-6">
          <label for="name">{{'createMenu.description' | translate}}</label>
          <textarea class="form-control" placeholder="{{'createMenu.enterDesc' | translate}}"
            [(ngModel)]="menuDTO.description" [maxlength]="maxChars"></textarea>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="row">
        <div class="col-md-6">
          <label for="name">{{'createMenu.price' | translate}}</label>
          <input type='number' step='0.01' min="0" value='0.00' placeholder='0.00' class="form-control" id="priceId"
            required [(ngModel)]="menuDTO.price" name="impPrice">
        </div>

        <div class="col-md-6">
          <label for="name">{{'createMenu.hasDelivery' | translate}}</label>
          <input type="checkbox" name="chkHasDelivery" [(ngModel)]="deliveryInfoDTO.hasDelivery" data-md-icheck
            (change)="chkHasDeliveryEvent($event)">
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="row">
        <div class="col-md-6">
          <label for="name">{{'createMenu.deliveryPrice' | translate}}</label>
          <input type="number" step=".01" min="0" value='0.00' placeholder='0.00' class="form-control"
            id="deliveryPriceId" required [(ngModel)]="menuDTO.deliveryPrice" name="impDeliveryPrice">
        </div>

        <div class="col-md-6">
          <label for="name">{{'createMenu.avgDeliTime' | translate}}</label>
          <input type="time" class="form-control" id="avgDeliveryTimeId" required [(ngModel)]="menuDTO.avgDeliveryTime"
            name="impAvgDeliveryTime">
        </div>
      </div>
    </div>

    <div class="form-group">
        <label for="name">IdDeliveryInfo</label>
        <input type="int" class="form-control" id="pruebaDelInfoId" required [(ngModel)]="deliveryInfoDTO.id" name="iddelInf">
      </div>

    <div class="form-group">
      <label for="name">{{'createMenu.categories' | translate}}</label>
      <ng-multiselect-dropdown placeholder="{{'createMenu.selectCate' | translate}}" [data]="ddlCategories"
        [(ngModel)]="selectedCategories" [settings]="dropdownSettings" (onSelect)="onItemSelect($event)"
        (onDeSelect)="onItemDeSelect($event)">
      </ng-multiselect-dropdown>
    </div>

    <div class="form-group">
      <label for="name">{{'createMenu.shiftavai' | translate}}</label>
      <ng-multiselect-dropdown placeholder="Select Shift" [data]="ddlShifts" [(ngModel)]="selectedShifts"
        [settings]="dropdownSettings" (onSelect)="onShiftSelect($event)" (onDeSelect)="onShiftDeSelect($event)">
      </ng-multiselect-dropdown>
    </div>

    <div class="form-group">
      <label for="name">{{'createMenu.hoursattention' | translate}}</label>
      <ng-multiselect-dropdown placeholder="Select hours attention" [data]="ddlhsAttention"
        [(ngModel)]="selectedhsAttention" [settings]="dropdownSettings" (onSelect)="onHourSelect($event)"
        (onDeSelect)="onHourDeSelect($event)">
      </ng-multiselect-dropdown>
    </div>

    <div class="form-group">
      <div class="row">
        <div class="col-md-6">
          <label for="validFromDate"> {{'createMenu.validFrom' | translate}} </label>
          <input id="validFromDateId" name="impValidFromDate" required [(ngModel)]="menuDTO.validFromDate" type="date"
            bsDatepicker class="form-control">
        </div>

        <div class="col-md-6">
          <label for="validToDate"> {{'createMenu.validTo' | translate}} </label>
          <input id="validToDateId" name="impValidToDate" required [(ngModel)]="menuDTO.validToDate" type="date"
            class="form-control">
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="name">{{'createMenu.maxSalesPerDay' | translate}}</label>
      <input type="number" class="form-control" id="maxSalesId" required [(ngModel)]="menuDTO.maximunSales"
        name="impMaxSales">
    </div>
    <br>
    <div class="row">
      <div class="col-md-6">
        <button type="submit" class="btn btn-success">{{'createMenu.submitButton' | translate}}</button>
      </div>
      <div class="col-md-6">
        <button (click)="menuList()" class="btn btn-secondary">{{'createMenu.cancel' | translate}}</button><br>
      </div>
    </div>
  </form>
</div>

<div [hidden]="!submitted">
  <h4>{{'createMenu.submitOk' | translate}}</h4>
</div>