<h3>{{'createMenu.title' | translate}}</h3>
<div [hidden]="submitted" style="width: 400px;">
  <form (ngSubmit)="onSubmit()">

    <div class="form-group">
      <label for="name">{{'createMenu.menuName' | translate}}</label>
      <input type="text" class="form-control" id="menuNameId" required [(ngModel)]="menu.menuName" name="impMenuName">
    </div>

    <div class="form-group">
      <label for="name">{{'createMenu.description' | translate}}</label>
      <input type="text" class="form-control" id="descriptionId" required [(ngModel)]="menu.description"
        name="impDescription">
    </div>

    <div class="form-group">
      <label for="name">{{'createMenu.price' | translate}}</label>
      <input type='number' step='0.01' min="0" value='0.00' placeholder='0.00' class="form-control" id="priceId"
        required [(ngModel)]="menu.price" name="impPrice">
    </div>
    <div class="form-group">
      <label for="name">{{'createMenu.shiftavai' | translate}}</label>
      <input type="text" class="form-control" id="menuNameId" required [(ngModel)]="deliveryInfo.shiftsAvailable" name="impshiftsAvailable">
    </div>

    <div class="form-group">
      <label for="name">{{'createMenu.hoursattention' | translate}}</label>
      <input type="text" class="form-control" id="menuNameId" required [(ngModel)]="deliveryInfo.hoursAttention" name="imphoursAttention">
    </div>

    <div class="form-group">
      <label for="name">{{'createMenu.hasDelivery' | translate}}</label>
      <input type="text" class="form-control" id="menuNameId" required [(ngModel)]="deliveryInfo.hasDelivery" name="imphasDelivery">
    </div>
    <div class="form-group">
      <label for="validFromDate">{{'createMenu.validFrom' | translate}}</label>
      <input id="validFromDateId" name="impValidFromDate" required [(ngModel)]="menu.validFromDate" type="date"
        bsDatepicker class="form-control">
    </div>

    <div class="form-group">
      <label for="validToDate">{{'createMenu.validTo' | translate}}</label>
      <input id="validToDateId" name="impValidToDate" required [(ngModel)]="menu.validToDate" type="date"
        class="form-control">
    </div>

    <div class="form-group">
      <label for="name">{{'createMenu.deliveryPrice' | translate}}</label>
      <input type="number" step=".01" min="0" value='0.00' placeholder='0.00' class="form-control" id="deliveryPriceId"
        required [(ngModel)]="menu.deliveryPrice" name="impDeliveryPrice">
    </div>

    <div class="form-group">
      <label for="name">{{'createMenu.avgDeliTime' | translate}}</label>
      <input type="text" class="form-control" id="avgDeliveryTimeId" required [(ngModel)]="menu.avgDeliveryTime"
        name="impAvgDeliveryTime">
    </div>

    <div class="form-group">
      <label for="name">{{'createMenu.maxSalesPerDay' | translate}}</label>
      <input type="number" class="form-control" id="maxSalesId" required [(ngModel)]="menu.maximunSales"
        name="impMaxSales">
    </div>
  </form>
  <br>
  <div class="row">
    <div class="col-md-6">
      <button type="submit" class="btn btn-success">{{'createMenu.submitButton' | translate}}</button>
    </div>
    <div class="col-md-6">
      <button (click)="menuList()" class="btn btn-secondary">{{'createMenu.cancel' | translate}}</button><br>
    </div>
  </div>
</div>

<div [hidden]="!submitted">
  <h4>{{'createMenu.submitOk' | translate}}</h4>
</div>